* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  font-size: 18px;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  width: 90%;
  margin-left: 5%;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
#person{
  height:80px;
  width: 80px;
  margin-left: 5%;
  margin-top: 1%;
  }

.content{
  width: 90%;
  height: 650px;
  border-width: 5px;
  border: solid;
  margin-left: 5%;
  margin-top: 5%;
}
.personal-content{
  width: 90%;
  height: 120px;
  border-width: 5px;
  border: solid;
  margin-left: 5%;
  margin-top: 3%;
}
.personal-content b{
  margin-top: 50px;
  margin-left: 2%;
  display: inline;
  position: absolute;
}

#btn{
  background-color: #0f0c29;
  width: 150px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  float: right;
  margin-top: 3%;
  margin-right: 5%;
  cursor: pointer;
}
#btn:hover{
  background-color: #24243e;
  transition: .5s;
}
#btn p{
  color: white;
}
.items{
  width: 90%;
  height: 400px;
  border: solid;
  border-width: 3px;
  margin-top: 2%;
  margin-left: 5%;
    overflow: visible;
    overflow-y: scroll;
}
.posts{
  width: 90%;
  height: 100px;
  border: solid;
  border-width: 3px;
  margin-top: 2%;
  margin-left: 5%;

}
footer {
  font-size: 18px;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 80px;
  width: 90%;
  margin-left: 5%;
  margin-top: 40px;
}
